In [1]:
import pandas as pd
from datetime import datetime
import re
import numpy as np

In [2]:
def extract_times_data(stud_times_df: pd.DataFrame, due_date, ex_number):
    due_date = datetime.strptime(due_date, '%d/%m/%Y, %H:%M')
    
    # Isolate the student number identifiers
    stud_times_df = stud_times_df.assign(
    identifier = stud_times_df.Identifier.apply(lambda stud: stud.split('Participant ')[1])).drop('Identifier', axis = 1)

    # Remove the extra columns column
    stud_times_df.drop(['Department', 'Feedback comments', 'Grade'], axis = 1, inplace = True)
    
    # Convert the data about submission date into datetime object, remove records of students that did not submit
    stud_times_df = stud_times_df.replace({'-':np.nan})
    stud_times_df.dropna(subset = ['Last modified (submission)'], inplace = True)
    stud_times_df['Last modified (submission)'] = stud_times_df['Last modified (submission)'].astype('datetime64[ns]') 
    
    # Calculate the number of days late after subsmission time
    stud_times_df = stud_times_df.rename({'Last modified (submission)': f'sub_time'}, axis = 1)
    stud_times_df[f'days_late'] = stud_times_df[f'sub_time'].apply(lambda x: max((x-due_date).round('1d').days, 0))


                                           
    return stud_times_df

In [3]:
def merge_data_to_bank(bank_df, submission_data_df, ex_num):

    df = bank_df.copy()
    df = df.merge(submission_data_df[['Full name', 'sub_time', 'days_late']],
                                  left_on='Full name', right_on='Full name', how='left')

    # Handle students who did not submit
    df.days_late = df.days_late.fillna(0)
    
    # Calculate new bank balance
    df.bank_days_left = df.bank_days_left - df.days_late
    
    df.sort_values(by=['bank_days_left']).head()
    df = df.rename({'sub_time': f'sub_time_{ex_num}', 
                    'days_late': f'days_late_{ex_num}'
                    }, axis = 1)
    
    return df

In [4]:
# Create initial bank database

all_students_df = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Course students-509182099.csv')
all_students_df['bank_days'] = 7
all_students_df['bank_days_left'] = 7
all_students_df['Full name'] = all_students_df['First name'] + ' ' + all_students_df['Surname']

bank_days_df = all_students_df.copy()
bank_days_df = bank_days_df.drop(['First name', 'Surname'], axis = 1)
col_order = ['Full name', 'Email address', 'bank_days', 'bank_days_left']
bank_days_df = bank_days_df[col_order].sort_values(by='Full name').reset_index(drop=True)
bank_days_df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/d_private/Documents/PyProgs/2023a/Course students-509182099.csv'

### Handle EX 1

In [62]:
ex1_data = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 1 submission-264864.csv')
subtime_ex1 = '10/11/2022, 23:59'
sub_times_df = extract_times_data(ex1_data, subtime_ex1, 1)
sub_times_df.head()

,Full name,Email address,Status,Maximum Grade,Grade can be changed,sub_time,Last modified (grade),identifier,days_late
0,Abd Haj Yehya,abdaljabarh@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-09 18:35:00,"Wednesday, 9 November 2022, 6:35 PM",56887,0
1,Abed Wattad,aw2@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-10 09:10:00,"Thursday, 10 November 2022, 9:10 AM",56906,0
2,Adam Taweel,adamtaweel@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-08 16:04:00,"Tuesday, 8 November 2022, 4:04 PM",56954,0
3,Adam Eshed,adameshed@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-06 14:49:00,"Sunday, 6 November 2022, 2:49 PM",57137,0
4,Adan Ghuneim,adanghuneim@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-10 16:13:00,"Thursday, 10 November 2022, 4:13 PM",56876,0

In [63]:
# Merge all data to ex1
bank_days_df = merge_data_to_bank(bank_df=bank_days_df,
                                  submission_data_df=sub_times_df,
                                  ex_num=1)

bank_days_df.head()

,Full name,Email address,bank_days,bank_days_left,sub_time_1,days_late_1
0,Abd Haj Yehya,abdaljabarh@mail.tau.ac.il,7,7.0,2022-11-09 18:35:00,0.0
1,Abed Wattad,aw2@mail.tau.ac.il,7,7.0,2022-11-10 09:10:00,0.0
2,Adam Eshed,adameshed@mail.tau.ac.il,7,7.0,2022-11-06 14:49:00,0.0
3,Adam Taweel,adamtaweel@mail.tau.ac.il,7,7.0,2022-11-08 16:04:00,0.0
4,Adan Ghuneim,adanghuneim@mail.tau.ac.il,7,7.0,2022-11-10 16:13:00,0.0

# Handle EX2

In [64]:
ex2_data = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 2 submission-274281.csv')
subtime = '17/11/2022, 23:55'
sub_times_df = extract_times_data(ex2_data, subtime, 2)
sub_times_df.head()

,Full name,Email address,Status,Maximum Grade,Grade can be changed,sub_time,Last modified (grade),identifier,days_late
3,Sharon Lavi,sharonlavi1@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-17 00:52:00,"Thursday, 17 November 2022, 12:52 AM",101917,0
4,Shatha Daqqa,shathadaqqa@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-16 23:57:00,"Wednesday, 16 November 2022, 11:57 PM",102105,0
5,Yosef Salganik,salganik@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-16 11:21:00,"Wednesday, 16 November 2022, 11:21 AM",102118,0
6,Maayan Bauman,maayanbauman@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-14 11:36:00,"Monday, 14 November 2022, 11:36 AM",101707,0
7,Neta Shaboo,netashaboo@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-17 18:41:00,"Thursday, 17 November 2022, 6:41 PM",101936,0

In [65]:
# Merge all data to ex1
bank_days_df = merge_data_to_bank(bank_df=bank_days_df,
                                  submission_data_df=sub_times_df,
                                  ex_num=2)
bank_days_df.head()

,Full name,Email address,bank_days,bank_days_left,sub_time_1,days_late_1,sub_time_2,days_late_2
0,Abd Haj Yehya,abdaljabarh@mail.tau.ac.il,7,7.0,2022-11-09 18:35:00,0.0,2022-11-17 19:14:00,0.0
1,Abed Wattad,aw2@mail.tau.ac.il,7,7.0,2022-11-10 09:10:00,0.0,NaT,0.0
2,Adam Eshed,adameshed@mail.tau.ac.il,7,7.0,2022-11-06 14:49:00,0.0,2022-11-15 17:51:00,0.0
3,Adam Taweel,adamtaweel@mail.tau.ac.il,7,7.0,2022-11-08 16:04:00,0.0,2022-11-17 19:56:00,0.0
4,Adan Ghuneim,adanghuneim@mail.tau.ac.il,7,7.0,2022-11-10 16:13:00,0.0,NaT,0.0

# Handle EX3

In [66]:

ex3_data = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 3 submission-282682.csv')
subtime = '24/11/2022, 23:55'
sub_times_df = extract_times_data(ex3_data, subtime, 3)
sub_times_df.head()

,Full name,Email address,Status,Maximum Grade,Grade can be changed,sub_time,Last modified (grade),identifier,days_late
3,Sharon Lavi,sharonlavi1@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-19 22:41:00,"Saturday, 19 November 2022, 10:41 PM",143966,0
4,Shatha Daqqa,shathadaqqa@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-23 01:04:00,"Wednesday, 23 November 2022, 1:04 AM",144148,0
5,Yosef Salganik,salganik@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-22 22:50:00,"Tuesday, 22 November 2022, 10:50 PM",144211,0
6,Maayan Bauman,maayanbauman@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-22 16:35:00,"Tuesday, 22 November 2022, 4:35 PM",144101,0
7,Neta Shaboo,netashaboo@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-23 10:19:00,"Wednesday, 23 November 2022, 10:19 AM",143891,0

### Merge ex3 data to bank

In [67]:
# Merge all data to ex1
bank_days_df = merge_data_to_bank(bank_df=bank_days_df,
                                  submission_data_df=sub_times_df,
                                  ex_num=3)
bank_days_df.head()

,Full name,Email address,bank_days,bank_days_left,sub_time_1,days_late_1,sub_time_2,days_late_2,sub_time_3,days_late_3
0,Abd Haj Yehya,abdaljabarh@mail.tau.ac.il,7,7.0,2022-11-09 18:35:00,0.0,2022-11-17 19:14:00,0.0,2022-11-24 23:04:00,0.0
1,Abed Wattad,aw2@mail.tau.ac.il,7,7.0,2022-11-10 09:10:00,0.0,NaT,0.0,NaT,0.0
2,Adam Eshed,adameshed@mail.tau.ac.il,7,7.0,2022-11-06 14:49:00,0.0,2022-11-15 17:51:00,0.0,2022-11-22 21:36:00,0.0
3,Adam Taweel,adamtaweel@mail.tau.ac.il,7,7.0,2022-11-08 16:04:00,0.0,2022-11-17 19:56:00,0.0,2022-11-24 20:29:00,0.0
4,Adan Ghuneim,adanghuneim@mail.tau.ac.il,7,7.0,2022-11-10 16:13:00,0.0,NaT,0.0,NaT,0.0

# Handle EX4

In [68]:

ex4_data = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 4 submission-291506.csv')
subtime = '1/12/2022, 23:55'

sub_times_df = extract_times_data(ex4_data, subtime, 4)
sub_times_df.head()

,Full name,Email address,Status,Maximum Grade,Grade can be changed,sub_time,Last modified (grade),identifier,days_late
3,Sharon Lavi,sharonlavi1@mail.tau.ac.il,Submitted for grading,100.0,Yes,2022-11-28 19:33:00,"Monday, 28 November 2022, 7:33 PM",192393,0
4,Shatha Daqqa,shathadaqqa@mail.tau.ac.il,Submitted for grading,100.0,Yes,2022-11-30 22:37:00,"Wednesday, 30 November 2022, 10:37 PM",192376,0
5,Yosef Salganik,salganik@mail.tau.ac.il,Submitted for grading,100.0,Yes,2022-11-26 22:45:00,"Saturday, 26 November 2022, 10:45 PM",192804,0
6,Maayan Bauman,maayanbauman@mail.tau.ac.il,Submitted for grading,100.0,Yes,2022-11-27 20:23:00,"Sunday, 27 November 2022, 8:23 PM",192503,0
7,Neta Shaboo,netashaboo@mail.tau.ac.il,Submitted for grading,100.0,Yes,2022-11-28 22:48:00,"Monday, 28 November 2022, 3:17 PM",192338,0

### Merge ex4 to bank

In [69]:
# Merge all data to ex1
bank_days_df = merge_data_to_bank(bank_df=bank_days_df,
                                  submission_data_df=sub_times_df,
                                  ex_num=4)
bank_days_df.head()

,Full name,Email address,bank_days,bank_days_left,sub_time_1,days_late_1,sub_time_2,days_late_2,sub_time_3,days_late_3,sub_time_4,days_late_4
0,Abd Haj Yehya,abdaljabarh@mail.tau.ac.il,7,7.0,2022-11-09 18:35:00,0.0,2022-11-17 19:14:00,0.0,2022-11-24 23:04:00,0.0,2022-12-01 22:43:00,0.0
1,Abed Wattad,aw2@mail.tau.ac.il,7,7.0,2022-11-10 09:10:00,0.0,NaT,0.0,NaT,0.0,NaT,0.0
2,Adam Eshed,adameshed@mail.tau.ac.il,7,7.0,2022-11-06 14:49:00,0.0,2022-11-15 17:51:00,0.0,2022-11-22 21:36:00,0.0,2022-11-29 17:48:00,0.0
3,Adam Taweel,adamtaweel@mail.tau.ac.il,7,7.0,2022-11-08 16:04:00,0.0,2022-11-17 19:56:00,0.0,2022-11-24 20:29:00,0.0,2022-12-01 18:41:00,0.0
4,Adan Ghuneim,adanghuneim@mail.tau.ac.il,7,7.0,2022-11-10 16:13:00,0.0,NaT,0.0,NaT,0.0,NaT,0.0

# Write output table

In [74]:
# Sort on bank_days_left so problematic students are on top of the table
bank_days_df = bank_days_df.sort_values(by='bank_days_left', ascending=True).reset_index(drop=True)

for col in bank_days_df.columns[bank_days_df.columns.str.endswith('sub_time')]:
    bank_days_df[col] = pd.to_datetime(bank_days_df[col]).dt.strftime('%Y-%m-%d %H:%M:%S')


bank_days_df.to_excel('/Users/d_private/Documents/PyProgs/2023a/bank_days.xlsx')

# Old stuff

### Handle EX 1

In [24]:
ex1_data = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 1 submission-264864.csv')
subtime_ex1 = '10/11/22 23:59'
sub_times_ex1_df = extract_times_data(ex1_data, subtime_ex1, 1)
sub_times_ex1_df.head()

,Full name,Email address,Status,Maximum Grade,Grade can be changed,ex1_sub_time,Last modified (grade),identifier,ex1_days_late
0,Abd Haj Yehya,abdaljabarh@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-09 18:35:00,"Wednesday, 9 November 2022, 6:35 PM",56887,0
1,Abed Wattad,aw2@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-10 09:10:00,"Thursday, 10 November 2022, 9:10 AM",56906,0
2,Adam Taweel,adamtaweel@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-08 16:04:00,"Tuesday, 8 November 2022, 4:04 PM",56954,0
3,Adam Eshed,adameshed@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-06 14:49:00,"Sunday, 6 November 2022, 2:49 PM",57137,0
4,Adan Ghuneim,adanghuneim@mail.tau.ac.il,Submitted for grading,100.0,No,2022-11-10 16:13:00,"Thursday, 10 November 2022, 4:13 PM",56876,0

In [ ]:
# Merge all data to ex1
all_students_df.merge(sub_times_ex1_df[['Full name', 'ex1_sub_time', 'ex1_days_late']], left_on='Full name', right_on='Full name')

In [ ]:
ex1_data = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 1 submission-264864.csv')

In [28]:
all_students_df

,First name,Surname,Email address,bank_days,Full name
0,Aviela,Maor,avielay@mail.tau.ac.il,7,Aviela Maor
1,Aviv,Shay,avivshay@mail.tau.ac.il,7,Aviv Shay
2,Avidan,Benyamin,avidanb1@mail.tau.ac.il,7,Avidan Benyamin
3,Avichai,Doron,avichaidoron@mail.tau.ac.il,7,Avichai Doron
4,Avihay,Gozlan,avihaygozlan@mail.tau.ac.il,7,Avihay Gozlan
...,...,...,...,...,...
764,Tom,Rosin,tomrosin@mail.tau.ac.il,7,Tom Rosin
765,Tamar,Bar On,tamarbaron@mail.tau.ac.il,7,Tamar Bar On
766,Tamar,Tsivlin,tamartsivlin@mail.tau.ac.il,7,Tamar Tsivlin
767,Tamar,Nehama,tamarnehama@mail.tau.ac.il,7,Tamar Nehama
768,Tamara,Bluzer,tamarabluzer@mail.tau.ac.il,7,Tamara Bluzer

,First name,Surname,Email address,bank_days,Full name,ex1_sub_time,ex1_days_late
0,Aviela,Maor,avielay@mail.tau.ac.il,7,Aviela Maor,2022-11-10 18:15:00,0
1,Aviv,Shay,avivshay@mail.tau.ac.il,7,Aviv Shay,2022-11-05 19:33:00,0
2,Avidan,Benyamin,avidanb1@mail.tau.ac.il,7,Avidan Benyamin,2022-11-08 13:12:00,0
3,Avichai,Doron,avichaidoron@mail.tau.ac.il,7,Avichai Doron,2022-11-06 18:28:00,0
4,Avihay,Gozlan,avihaygozlan@mail.tau.ac.il,7,Avihay Gozlan,2022-11-09 21:57:00,0
...,...,...,...,...,...,...,...
724,Tom,Rosin,tomrosin@mail.tau.ac.il,7,Tom Rosin,2022-11-07 10:02:00,0
725,Tamar,Bar On,tamarbaron@mail.tau.ac.il,7,Tamar Bar On,2022-11-10 14:31:00,0
726,Tamar,Tsivlin,tamartsivlin@mail.tau.ac.il,7,Tamar Tsivlin,2022-11-07 11:21:00,0
727,Tamar,Nehama,tamarnehama@mail.tau.ac.il,7,Tamar Nehama,2022-11-08 08:17:00,0
728,Tamara,Bluzer,tamarabluzer@mail.tau.ac.il,7,Tamara Bluzer,2022-11-09 18:28:00,0

In [ ]:
time_bank_days = 7

In [ ]:
subtime_ex1 = '10/11/22 23:59'
sub_times_ex1_df = extract_times_data(sub_times_ex1_df, subtime_ex1, 1)

In [3]:
ex3_times = pd.read_csv('/Users/d_private/Documents/PyProgs/2023a/Grades-0509182099 - Programming - Python-Homework 3 submission-282682.csv', index_col=0)
ex3_times

,Full name,Email address,Department,Status,Grade,Maximum Grade,Grade can be changed,Last modified (submission),Last modified (grade),Feedback comments
Identifier,,,,,,,,,,
Participant 143800,Ibrahim Anabseh,anabseh1@mail.tau.ac.il,NaN,No submission - Assignment is overdue by: 16 d...,NaN,100.0,Yes,-,-,NaN
Participant 144178,Fatima Mohsen,fatimamohsen@mail.tau.ac.il,9920.0,No submission - Assignment is overdue by: 16 d...,NaN,100.0,Yes,-,-,NaN
Participant 143928,Najwan Taya,najwant@mail.tau.ac.il,NaN,No submission - Assignment is overdue by: 16 d...,NaN,100.0,Yes,-,-,NaN
Participant 143966,Sharon Lavi,sharonlavi1@mail.tau.ac.il,NaN,Submitted for grading,NaN,100.0,No,"Saturday, 19 November 2022, 10:41 PM","Saturday, 19 November 2022, 10:41 PM",NaN
Participant 144148,Shatha Daqqa,shathadaqqa@mail.tau.ac.il,9920.0,Submitted for grading,NaN,100.0,No,"Wednesday, 23 November 2022, 1:04 AM","Wednesday, 23 November 2022, 1:04 AM",NaN
...,...,...,...,...,...,...,...,...,...,...
Participant 143497,Oren Peretzman,oren.pe@solaredge.com,501.0,Submitted for grading,NaN,100.0,No,"Tuesday, 22 November 2022, 6:21 PM","Tuesday, 22 November 2022, 6:21 PM",NaN
Participant 144033,Ohad Solovatshik,solovatshik1@mail.tau.ac.il,171.0,Submitted for grading,NaN,100.0,No,"Thursday, 24 November 2022, 9:23 PM","Thursday, 24 November 2022, 9:23 PM",NaN
Participant 143587,Doaa Zbedat,doaazbedat@mail.tau.ac.il,9920.0,Submitted for grading,NaN,100.0,No,"Thursday, 24 November 2022, 12:01 AM","Thursday, 24 November 2022, 12:01 AM",NaN
Participant 144150,Ismael Amer,ismaelamer@mail.tau.ac.il,9920.0,Submitted for grading,NaN,100.0,No,"Thursday, 24 November 2022, 3:49 PM","Thursday, 24 November 2022, 3:49 PM",NaN
Participant 143796,Ido Braun,idobraun@mail.tau.ac.il,9920.0,Submitted for grading,NaN,100.0,No,"Saturday, 19 November 2022, 5:07 PM","Saturday, 19 November 2022, 5:07 PM",NaN

In [4]:
def update_time_bank(curr_ex_df, time_bank_df, ex_number):
    time_bank_new = pd.merge(time_bank_df, curr_ex_df[['Full name', f'ex{ex_number}_sub_time', f'ex{ex_number}_days_late']],
                             on = 'Full name', how = 'outer')
    
    time_bank_new[f'ex{ex_number}_days_late'] = time_bank_new[f'ex{ex_number}_days_late'].fillna(0)

    # add new bank column
    time_bank_new[f'Bank_before_ex{ex_number}'] = time_bank_new['curr_bank']
    time_bank_new = time_bank_new.assign(curr_bank = time_bank_new.apply(
        lambda stud: stud.curr_bank - stud[f'ex{ex_number}_days_late'], axis = 1))
    
    return time_bank_new

## Create the basic databse for student submission times

In [62]:
# Read once - the dataframe representing all students in the course
student_times_df = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex3/students_info_en.csv')

In [63]:
# Isolate the student number identifiers
student_times_df = student_times_df.assign(
    identifier = student_times_df.Identifier.apply(lambda stud: stud.split('Participant ')[1])).drop('Identifier', axis = 1)

In [64]:
# Filter unnecessary data
cols = ['Full name', 'identifier', 'Email address']
student_times_df = student_times_df[cols]

In [65]:
# Add bank days column
student_times_df['curr_bank'] = 5

In [66]:
# Add student's id column
# stud_df = pd.read_csv(f'/Users/dror/PycharmProjects/PyProg1920Bex{EX_NUM}/outputs/ex{EX_NUM}_students_df.csv', index_col = 0)

# student_times_df = student_times_df.merge(stud_df[['stud_id','stud_name']],
#                             how = 'outer', left_on = 'Full name', right_on = 'stud_name')

In [67]:
student_times_df.head()

         Full name identifier                Email address  curr_bank
0    Avi Ouslender     499990  aviauslender@mail.tau.ac.il          5
1  Leonid Bilevich     500068     bilevich@tauex.tau.ac.il          5
2      George Levi     500113   georgelevi@tauex.tau.ac.il          5
3         Or אלמלח     500096           ore@mail.tau.ac.il          5
4      Amit Gispan     500108    amitgispan@mail.tau.ac.il          5

## Add a new submission report to the database - EX1

In [68]:
sub_times_ex1_df = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex1/students_info_ex1_en.csv')
subtime_ex1 = '26/03/20 23:59'

sub_times_ex1_df = extract_times_data(sub_times_ex1_df, subtime_ex1, 1)
# times_bank = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex3/student_times_bank_after_ex2.csv', index_col = 0)
times_bank_new = update_time_bank(sub_times_ex1_df, student_times_df, 1)

In [71]:
# Document results to csv
times_bank_new.to_csv('student_times_bank_after_ex1.csv')

## Add a new submission report to the database - EX2

In [72]:
sub_times_ex2_df = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex2/student_info_ex2_en.csv')
subtime_ex2 = '2/04/20 23:59'

sub_times_ex2_df = extract_times_data(sub_times_ex2_df, subtime_ex2, 2)
times_bank = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex3/student_times_bank_after_ex1.csv', index_col = 0)
times_bank_new = update_time_bank(df, times_bank, 2)

In [73]:
times_bank_new.head()

,Full name,identifier,Email address,curr_bank,ex1_sub_time,ex1_days_late,Bank_before_ex1,ex2_sub_time,ex2_days_late,Bank_before_ex2
0,Avi Ouslender,499990,aviauslender@mail.tau.ac.il,5.0,2020-03-20 19:05:00,0.0,5,2020-03-29 16:36:00,0.0,5.0
1,Leonid Bilevich,500068,bilevich@tauex.tau.ac.il,5.0,NaN,0.0,5,NaT,0.0,5.0
2,George Levi,500113,georgelevi@tauex.tau.ac.il,5.0,2020-03-24 02:25:00,0.0,5,2020-04-01 01:10:00,0.0,5.0
3,Or אלמלח,500096,ore@mail.tau.ac.il,5.0,2020-03-23 12:07:00,0.0,5,2020-04-01 20:03:00,0.0,5.0
4,Amit Gispan,500108,amitgispan@mail.tau.ac.il,5.0,2020-03-25 18:53:00,0.0,5,2020-04-01 10:03:00,0.0,5.0

In [74]:
# Document results to csv
times_bank_new.to_csv('student_times_bank_after_ex2.csv')

## Add a new submission report to the database - EX3

In [85]:
sub_times_ex3_df = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex3/student_info_ex3_en.csv')
subtime_ex3 = '19/04/20 23:55'

sub_times_ex3_df = extract_times_data(sub_times_ex3_df, subtime_ex3, 3)
times_bank = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex3/student_times_bank_after_ex2.csv', index_col = 0)
times_bank_new = update_time_bank(sub_times_ex3_df, times_bank, 3)
# times_bank_new = times_bank_new.sort_values('curr_bank', ascending=True)

In [86]:
times_bank_new.head()

,Full name,identifier,Email address,curr_bank,ex1_sub_time,ex1_days_late,Bank_before_ex1,ex2_sub_time,ex2_days_late,Bank_before_ex2,ex3_sub_time,ex3_days_late,Bank_before_ex3
0,Avi Ouslender,499990,aviauslender@mail.tau.ac.il,5.0,2020-03-20 19:05:00,0.0,5,2020-03-29 16:36:00,0.0,5.0,2020-04-11 18:18:00,0.0,5.0
1,Leonid Bilevich,500068,bilevich@tauex.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaT,0.0,5.0
2,George Levi,500113,georgelevi@tauex.tau.ac.il,5.0,2020-03-24 02:25:00,0.0,5,2020-04-01 01:10:00,0.0,5.0,2020-04-04 20:44:00,0.0,5.0
3,Or אלמלח,500096,ore@mail.tau.ac.il,5.0,2020-03-23 12:07:00,0.0,5,2020-04-01 20:03:00,0.0,5.0,2020-04-12 14:22:00,0.0,5.0
4,Amit Gispan,500108,amitgispan@mail.tau.ac.il,5.0,2020-03-25 18:53:00,0.0,5,2020-04-01 10:03:00,0.0,5.0,2020-04-10 15:20:00,0.0,5.0

In [87]:
# Document results to csv
times_bank_new.to_csv('student_times_bank_after_ex3.csv')

## Add a new submission report to the database - EX4

In [6]:
sub_times_ex4_df = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex4/student_info_ex4_en.csv')
subtime_ex4 = '03/05/20 23:55'

sub_times_ex4_df = extract_times_data(sub_times_ex4_df, subtime_ex4, 4)
times_bank = pd.read_csv('/Users/dror/PycharmProjects/PyProg1920Bex3/student_times_bank_after_ex3.csv', index_col = 0)
times_bank_new = update_time_bank(sub_times_ex4_df, times_bank, 4)
# times_bank_new = times_bank_new.sort_values('curr_bank', ascending=True)

In [ ]:
# Document results to csv
times_bank_new.to_csv('student_times_bank_after_ex4.csv')

In [10]:
# See people with a problematic bank 
times_bank_new.iloc[:,:4].loc[times_bank_new.curr_bank<5].sort_values('curr_bank', ascending = True)

In [7]:
# See people with a problematic bank 
times_bank_new.iloc[:,:4].loc[times_bank_new.curr_bank<5].sort_values('curr_bank', ascending = True)

,Full name,identifier,Email address,curr_bank
0,Tamir Shinkopf,500027,shinkopf@mail.tau.ac.il,1.0
1,Loay Egbaria,500105,loaymahmode@mail.tau.ac.il,2.0
2,Matan Levi,500085,matanlevi@mail.tau.ac.il,2.0
51,Adir Lightman,500020,adirlightman@mail.tau.ac.il,2.0
3,Lea Suzanne Josiane Attia,500097,attia@mail.tau.ac.il,3.0
4,Yara Shaheen,500134,yarashaheen@mail.tau.ac.il,3.0
5,Diala Habashi,500111,dialahabashi@mail.tau.ac.il,3.0
8,Michael Klein,500008,michaelklein@mail.tau.ac.il,3.0
91,Or Hadad,500033,orhadad@mail.tau.ac.il,3.0
6,Afek Aflalo,500024,afekaflalo@mail.tau.ac.il,4.0
7,Danielle Sviri,500054,sviri@mail.tau.ac.il,4.0
9,Ofir Solomon,500017,ofirsolomon@mail.tau.ac.il,4.0
10,Adi Moskovich,500046,adimoskovich@mail.tau.ac.il,4.0
31,Nashid Zbeedat,500015,nashidz@mail.tau.ac.il,4.0
85,Guy Dahan,500138,guydahan1@mail.tau.ac.il,4.0
88,Noy Swisa,500146,noyswisa@mail.tau.ac.il,4.0

In [9]:
times_bank_new

,Full name,identifier,Email address,curr_bank,ex1_sub_time,ex1_days_late,Bank_before_ex1,ex2_sub_time,ex2_days_late,Bank_before_ex2,ex3_sub_time,ex3_days_late,Bank_before_ex3,ex4_sub_time,ex4_days_late,Bank_before_ex4
0,Tamir Shinkopf,500027,shinkopf@mail.tau.ac.il,1.0,2020-03-22 20:55:00,0.0,5,2020-04-06 16:42:00,4.0,5.0,2020-04-13 11:39:00,0.0,1.0,2020-05-02 04:16:00,0.0,1.0
1,Loay Egbaria,500105,loaymahmode@mail.tau.ac.il,2.0,2020-03-29 14:07:00,3.0,5,NaN,0.0,2.0,NaN,0.0,2.0,NaT,0.0,2.0
2,Matan Levi,500085,matanlevi@mail.tau.ac.il,2.0,2020-03-29 18:48:00,3.0,5,2020-03-29 18:49:00,0.0,2.0,2020-04-05 01:47:00,0.0,2.0,2020-04-25 19:48:00,0.0,2.0
3,Lea Suzanne Josiane Attia,500097,attia@mail.tau.ac.il,3.0,2020-03-21 16:09:00,0.0,5,2020-04-04 19:05:00,2.0,5.0,2020-04-17 15:35:00,0.0,3.0,2020-05-04 11:40:00,0.0,3.0
4,Yara Shaheen,500134,yarashaheen@mail.tau.ac.il,3.0,2020-03-24 19:47:00,0.0,5,2020-04-04 14:34:00,2.0,5.0,2020-04-15 17:19:00,0.0,3.0,2020-05-02 18:54:00,0.0,3.0
5,Diala Habashi,500111,dialahabashi@mail.tau.ac.il,3.0,2020-03-26 23:00:00,0.0,5,2020-04-04 14:59:00,2.0,5.0,2020-04-19 23:19:00,0.0,3.0,2020-05-03 13:16:00,0.0,3.0
6,Afek Aflalo,500024,afekaflalo@mail.tau.ac.il,4.0,2020-03-28 05:58:00,1.0,5,2020-04-02 23:36:00,0.0,4.0,2020-04-19 18:06:00,0.0,4.0,2020-05-04 00:57:00,0.0,4.0
7,Danielle Sviri,500054,sviri@mail.tau.ac.il,4.0,2020-03-23 00:43:00,0.0,5,2020-04-03 12:58:00,1.0,5.0,2020-04-14 19:09:00,0.0,4.0,2020-05-02 12:20:00,0.0,4.0
8,Michael Klein,500008,michaelklein@mail.tau.ac.il,3.0,2020-03-25 18:43:00,0.0,5,2020-04-03 20:19:00,1.0,5.0,2020-04-19 13:25:00,0.0,4.0,2020-05-04 17:05:00,1.0,4.0
9,Ofir Solomon,500017,ofirsolomon@mail.tau.ac.il,4.0,2020-03-25 12:33:00,0.0,5,2020-04-03 22:33:00,1.0,5.0,2020-04-19 18:48:00,0.0,4.0,2020-05-01 22:06:00,0.0,4.0
10,Adi Moskovich,500046,adimoskovich@mail.tau.ac.il,4.0,2020-03-20 16:18:00,0.0,5,2020-04-04 00:23:00,1.0,5.0,2020-04-20 10:25:00,0.0,4.0,2020-05-02 20:13:00,0.0,4.0
11,Yonatan Rosin,500099,yonatanrosin@mail.tau.ac.il,5.0,2020-03-26 15:29:00,0.0,5,2020-04-02 21:30:00,0.0,5.0,2020-04-19 22:06:00,0.0,5.0,2020-05-03 17:31:00,0.0,5.0
12,Gil Monat,500119,gilmonat@mail.tau.ac.il,5.0,2020-03-22 22:08:00,0.0,5,2020-03-31 11:24:00,0.0,5.0,2020-04-09 23:30:00,0.0,5.0,2020-04-26 13:27:00,0.0,5.0
13,Shaked Sasporta,499995,sasporta@mail.tau.ac.il,5.0,2020-03-21 21:54:00,0.0,5,2020-03-27 19:18:00,0.0,5.0,2020-04-12 18:48:00,0.0,5.0,2020-05-03 23:45:00,0.0,5.0
14,Ido Azulay,500038,idoazulay@mail.tau.ac.il,5.0,2020-03-23 12:33:00,0.0,5,2020-03-30 23:21:00,0.0,5.0,2020-04-19 20:25:00,0.0,5.0,2020-04-30 23:14:00,0.0,5.0
15,Ofer Shoshani,500090,ofershoshani@mail.tau.ac.il,5.0,2020-03-25 18:37:00,0.0,5,2020-04-01 21:42:00,0.0,5.0,2020-04-09 22:16:00,0.0,5.0,2020-04-29 16:19:00,0.0,5.0
16,David Margolin,500139,margolin2@mail.tau.ac.il,5.0,2020-03-24 15:49:00,0.0,5,2020-04-02 18:26:00,0.0,5.0,NaN,0.0,5.0,2020-05-03 23:13:00,0.0,5.0
17,Michal Gendler Fishman,500055,michalg6@mail.tau.ac.il,5.0,2020-03-24 15:46:00,0.0,5,2020-03-27 19:53:00,0.0,5.0,2020-04-04 14:27:00,0.0,5.0,2020-04-26 12:24:00,0.0,5.0
18,Liam Leiderman,500103,liaml@mail.tau.ac.il,5.0,2020-03-19 13:52:00,0.0,5,2020-04-02 22:43:00,0.0,5.0,2020-04-19 14:19:00,0.0,5.0,2020-04-26 17:14:00,0.0,5.0
19,Eli Landa,500066,elilanda@mail.tau.ac.il,5.0,2020-03-21 19:25:00,0.0,5,2020-03-28 00:15:00,0.0,5.0,2020-04-06 23:12:00,0.0,5.0,2020-04-28 02:55:00,0.0,5.0
20,Ben Levi,500088,bl@mail.tau.ac.il,5.0,2020-03-23 14:42:00,0.0,5,2020-04-02 00:28:00,0.0,5.0,2020-04-18 23:15:00,0.0,5.0,2020-04-26 15:49:00,0.0,5.0
21,Ahmad Sawaed,500016,ahmadsawaed1@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
22,Shady Bshara,500007,shadybshara@mail.tau.ac.il,5.0,2020-03-19 16:50:00,0.0,5,2020-03-29 23:46:00,0.0,5.0,2020-04-08 00:52:00,0.0,5.0,2020-05-01 00:11:00,0.0,5.0
23,Hila Weissenberg,500122,hilaw@mail.tau.ac.il,5.0,2020-03-23 23:34:00,0.0,5,2020-03-30 23:22:00,0.0,5.0,2020-04-10 21:42:00,0.0,5.0,2020-04-29 16:54:00,0.0,5.0
24,Itai Shalev,500043,itaishalev@mail.tau.ac.il,5.0,2020-03-26 19:46:00,0.0,5,2020-04-02 21:04:00,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
25,Avi Ouslender,499990,aviauslender@mail.tau.ac.il,5.0,2020-03-20 19:05:00,0.0,5,2020-03-29 16:36:00,0.0,5.0,2020-04-11 18:18:00,0.0,5.0,2020-04-28 14:29:00,0.0,5.0
26,Erez Verdnikov,500049,erezv@mail.tau.ac.il,5.0,2020-03-19 17:30:00,0.0,5,2020-03-28 14:24:00,0.0,5.0,2020-04-06 22:11:00,0.0,5.0,2020-04-29 19:29:00,0.0,5.0
27,Liam Sadot,500116,liamsadot@mail.tau.ac.il,5.0,2020-03-19 22:56:00,0.0,5,2020-03-28 21:10:00,0.0,5.0,2020-04-14 17:12:00,0.0,5.0,2020-04-29 15:11:00,0.0,5.0
28,Or Ben Yehuda,500076,orbenyehuda@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
29,Kadem Shadafna,500047,kadems@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,Ido Ben-Ari,500110,idobenari@mail.tau.ac.il,5.0,2020-03-25 23:04:00,0.0,5,2020-03-31 21:17:00,0.0,5.0,2020-04-17 20:52:00,0.0,5.0,2020-05-03 23:04:00,0.0,5.0
135,Virginia Zakkak,500028,virginiaz@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
136,Anaelle Adhoute,500080,anaellea@mail.tau.ac.il,5.0,2020-03-23 21:27:00,0.0,5,2020-03-31 15:52:00,0.0,5.0,2020-04-10 00:14:00,0.0,5.0,2020-04-30 16:51:00,0.0,5.0
137,Ofer Gez,500073,ofergez@mail.tau.ac.il,5.0,2020-03-20 16:16:00,0.0,5,2020-03-27 19:08:00,0.0,5.0,2020-04-05 20:38:00,0.0,5.0,2020-05-01 23:27:00,0.0,5.0
138,Abed Omair,499996,omair@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
139,Asaf Yagoda,500048,asafyagoda@mail.tau.ac.il,5.0,2020-03-25 23:04:00,0.0,5,2020-04-02 18:51:00,0.0,5.0,2020-04-16 20:55:00,0.0,5.0,2020-05-03 15:18:00,0.0,5.0
140,Ameer Fayyad,500148,ameerfayyad@mail.tau.ac.il,5.0,2020-03-21 14:51:00,0.0,5,2020-03-31 17:30:00,0.0,5.0,2020-04-12 15:11:00,0.0,5.0,2020-05-02 13:28:00,0.0,5.0
141,Yazid Kutaba,500023,yazidkutaba@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
142,Rashad Asly,500132,rashadasly@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
143,Violetta Kigel,500112,violettak@mail.tau.ac.il,5.0,2020-03-22 15:55:00,0.0,5,2020-04-01 21:26:00,0.0,5.0,2020-04-10 14:53:00,0.0,5.0,2020-05-01 18:02:00,0.0,5.0
144,Dan Edelstein,500151,danedelstein@mail.tau.ac.il,5.0,2020-03-22 12:59:00,0.0,5,2020-03-27 22:41:00,0.0,5.0,2020-04-04 17:37:00,0.0,5.0,2020-04-26 12:37:00,0.0,5.0
145,Maxim Drizovsky,500121,maximd@mail.tau.ac.il,5.0,2020-03-23 11:45:00,0.0,5,2020-03-30 13:04:00,0.0,5.0,2020-04-12 19:01:00,0.0,5.0,2020-05-01 16:36:00,0.0,5.0
146,Yarden Tal,500071,yardent@mail.tau.ac.il,5.0,2020-03-26 13:09:00,0.0,5,2020-04-02 23:57:00,0.0,5.0,2020-04-19 16:30:00,0.0,5.0,2020-05-03 17:14:00,0.0,5.0
147,Tal Shavit,500095,talnetanels@mail.tau.ac.il,5.0,2020-03-19 22:50:00,0.0,5,2020-03-28 21:12:00,0.0,5.0,2020-04-15 20:55:00,0.0,5.0,2020-04-28 16:56:00,0.0,5.0
148,Tom Tartakovsky,500089,tomt1@mail.tau.ac.il,5.0,2020-03-20 13:18:00,0.0,5,2020-03-29 12:34:00,0.0,5.0,2020-04-04 16:54:00,0.0,5.0,2020-04-26 12:20:00,0.0,5.0
149,Taymaa Hamdan,500001,taymaahamdan@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
150,Reema Khatib,500143,reemakhatib@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
151,Tal Sheatrit,500063,talsheatrit@mail.tau.ac.il,5.0,2020-03-20 14:16:00,0.0,5,2020-03-29 11:39:00,0.0,5.0,2020-04-14 18:15:00,0.0,5.0,2020-05-03 02:44:00,0.0,5.0
152,Eran Greenberg,500019,erang@mail.tau.ac.il,5.0,2020-03-23 13:07:00,0.0,5,2020-03-28 15:46:00,0.0,5.0,2020-04-04 19:33:00,0.0,5.0,2020-05-03 21:58:00,0.0,5.0
153,Mohamed Khaskia,500010,khaskia@mail.tau.ac.il,5.0,2020-03-26 16:08:00,0.0,5,2020-04-02 21:20:00,0.0,5.0,2020-04-19 20:58:00,0.0,5.0,NaT,0.0,5.0
154,Mohammad Ashkar,500005,ashkar@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
155,Ahmad Awawdah,500044,ahmadawawdah@mail.tau.ac.il,5.0,2020-03-26 13:32:00,0.0,5,2020-04-02 12:38:00,0.0,5.0,2020-04-19 12:23:00,0.0,5.0,NaT,0.0,5.0
156,Keren Koifman,500129,kerenkoifman@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
157,Mohammad Zubidat,500022,zubidat1@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
158,Gil Talmor,500118,giltalmor@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
159,Adam Izrailov,500082,adamrashbii@mail.tau.ac.il,5.0,NaN,0.0,5,NaN,0.0,5.0,NaN,0.0,5.0,NaT,0.0,5.0
160,Yuval Warshavsky,500084,warshavsky1@mail.tau.ac.il,5.0,2020-03-20 16:22:00,0.0,5,2020-03-31 12:10:00,0.0,5.0,2020-04-12 16:49:00,0.0,5.0,2020-04-28 08:26:00,0.0,5.0
161,Shahar Debi,500081,shahardebi@mail.tau.ac.il,5.0,2020-03-21 19:06:00,0.0,5,2020-03-31 20:14:00,0.0,5.0,2020-04-09 22:39:00,0.0,5.0,2020-04-30 20:56:00,0.0,5.0
162,Elad Mileikowsky,500060,mileikowsky1@mail.tau.ac.il,5.0,2020-03-22 12:48:00,0.0,5,2020-03-30 01:59:00,0.0,5.0,2020-04-06 23:07:00,0.0,5.0,2020-05-02 22:03:00,0.0,5.0
163,Yuval Levy,500011,yuvallevy2@mail.tau.ac.il,5.0,2020-03-23 00:24:00,0.0,5,2020-04-01 23:18:00,0.0,5.0,2020-04-09 15:00:00,0.0,5.0,2020-05-02 09:35:00,0.0,5.0